/* .block {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px 20px 0 0;
    border-radius: 3px;
	&::after {
	    width: 0;
	    height: 0;
	    content:' ';
	    position: absolute;
	}	
}
.arrow-left {
    background-color: #DBA901;
	&::after {
	    top: 15px;
	    left: -10px;
	    border-width: 10px 10px 10px 0;
	    border-style: solid;
	    border-color: transparent #DBA901 transparent transparent;
	}
} */