.navbar-header {
  padding-top: 47px;
}

.navbar {
  border: none;
}

.navbar-default {
  background-color: #ffffff;
  border: none;
  .navbar-nav {
    padding-top: 47px;
    li {
      a {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: #061b2a;
      }
    }
  }
}

.navbar-collapse {
  border: none;
}

.navbar-toggle {
  border: none;
}
