header {
	width: 100%;
	padding-top: 40px;
	@include breakpoint(extra-small) {
		padding-top: 0;
	}
	@include breakpoint(extra-xs-small) {
		padding-top: 0;
	}
	.nav-color {
		min-height: 42px;
		margin-bottom: 0;
		background-color: transparent;
		border:none;
		@include clearfix;
		.nav-button {
			padding-right: 0;
			.but-style {
				width: 102px;
				height: 120px;
				margin: 0;
				background-color: #57baff;
				border:none;
				text-align: center;
				@include border-radius(0px);
				@include breakpoint(extra-xs-small) {
					width: 92px;
					height: 100px;
				}
				.icon-color {
					width: 37px;
					height: 6px;
					margin:4px auto;
					background-color: #ffffff;
					@include border-radius(2px);
				}
			}
			.collapsed {
	            background-color: transparent;
	            .icon-bar {
	            	background-color: #57baff;
	            }
	        }
			.logo-header {
				display: inline-block;
				width: 100%;
				height: 42px;
				margin-left: 0;
				padding: 0;
				background-image: url(../../../client/images/header/header-convene.png);
				background-repeat: no-repeat;
				background-size: contain;
				@include breakpoint(extra-small) {
					height: 30px;
				}
				@include breakpoint(extra-small) {
					width: 305px;
					height: 56px;
					margin-top: 32px;
					margin-left: 23px;
					background-image: url(../../../client/images/header/header-convene-mob.png);
				}
				@include breakpoint(extra-xs-small) {
					width: 170px;
					height: 32px;
					margin-top: 35px;
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
		}
		.list {
			float: right;
			margin-right: 113px;
			border: none;
			text-align: center;
			@include clearfix;
			@include breakpoint(medium) {
				margin-right: 95px;
			}
			@include breakpoint(small) {
				margin-right: 76px;
			}
			@include breakpoint(extra-small) {
				float: none;
				width: 100%;
				padding: 0;
				background-color: #57baff;
			}
			@include breakpoint(extra-xs-small) {
				float: none;
				width: 100%;
				padding: 0;
				background-color: #57baff;
			}
			ul {
				margin: 0;
				li {
					margin-right: 31px;
					@include breakpoint(extra-small) {
						margin-right: 0;
						border-top: 1px solid #57baff;
						border-bottom: 4px solid #53b1f2;
					}
					@include breakpoint(extra-xs-small) {
						margin-right: 0;
						border-top: 1px solid #57baff;
						border-bottom: 4px solid #53b1f2;
					}
					&:last-child {
						margin-right: 0;
						@include breakpoint(extra-small) {
							border-bottom: none;
						}
						@include breakpoint(extra-xs-small) {
							border-bottom: none;
						}
					}
					a {
						padding: 0px;
						font-family: 'Open Sans', sans-serif;
						font-size: 13px;
						font-weight: 600;
						line-height: 42px;
						color: #061b2a;
						@include transition-property(all);
						@include transition-duration(400ms);
						@include breakpoint(small) {
							line-height: 30px;
						}
						@include breakpoint(extra-small) {
							font-family: "Helvetica Light";
							font-size: 40px;
							font-weight:400;
							line-height: 121px;
							color: #ffffff;
						}
						@include breakpoint(extra-xs-small) {
							font-family: "Helvetica Light";
							font-size: 32px;
							font-weight:400;
							line-height: 90px;
							color: #ffffff;
						}
						&:hover {
							color: #1769a4;
						}
						&:focus {
							color: #1769a4;
						}
					}
				}
			}
		}
	}
}