.button {
	height: 38px;
	@include border-radius(3px);
	@include box-shadow (0 2px 2px 0 rgba(#000000,0.35));
	@include breakpoint(extra-small) {
		height: 61px;
	}
	@include breakpoint(extra-xs-small) {
		height: 70px;
	}
	.icon-general {
		width: 20%;
		height: 100%;
		line-height: 35px;
		@include border-radius(3px 0 0 3px);
		@include box-shadow (0 2px 0px 0 rgba(#ffffff,0.35) inset);
		@include background-image(linear-gradient(top, rgba(#000000,0.1) 0%,rgba(#808080,0.1) 100%));
		@include transition-property(all);
		@include transition-duration(400ms);
		@include breakpoint(extra-small) {
			height: 61px;
			line-height: 61px;
		}
		@include breakpoint(extra-xs-small) {
			height: 70px;
			line-height: 70px;
		}
		&.icon-first {
			background-color: #08a1df;
			border:1px solid #287fbe;
			.icon-tw {
				@include breakpoint(extra-small) {
					width: 42px;
					height: 34px;
				}
			}
		}
		&.icon-second {
			background-color: #395490;
			border:1px solid #253c6f;
			.icon-fc {
				@include breakpoint(extra-small) {
					width: 20px;
					height: 37px;
				}
			}
		}
		&.icon-third {
			background-color: #d05340;
			border:1px solid #aa1828;
			.icon-google {
				@include breakpoint(extra-small) {
					width: 22px;
					height: 40px;
				}
			}
		}
		&.icon-forth {
			background-color: #3d9de2;
			border:1px solid #287fbe;
			.icon-email {
				@include breakpoint(extra-small) {
					width: 37px;
					height: 38px;
				}
			}
		}
	}
	.text {
		display: inline-block;
		width: 80%;
		height: 100%;
		background-color: #ffffff;
		border-top:1px solid #babcbd;
		border-right:1px solid #babcbd;
		border-bottom:1px solid #babcbd;
		font-family: 'Open Sans', sans-serif;
		font-size: 13px;
		font-weight: 600;
		line-height: 38px;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		color: #747575;
		@include border-radius(0 3px 3px 0);
		@include text-shadow (0 1px 2px rgba(#ffffff,0.75));
		@include box-shadow (0 2px 0px 0 rgba(#ffffff,0.35) inset);
		@include background-image(linear-gradient(bottom, rgba(0,0,0,0.15) 0%,rgba(255,255,255,0.15) 100%));
		@include transition-property(all);
		@include transition-duration(400ms);
		&:hover {
			@include background-image(linear-gradient(bottom, rgba(0,0,0,0.25) 0%,rgba(255,255,255,0.25) 100%));
				color: #494a4a;
		}
		@include breakpoint(small) {
			//line-height: normal;
		}
		@include breakpoint(extra-small) {
			font-size: 20px;
			line-height: 61px;
		}
		@include breakpoint(extra-xs-small) {
			font-size: 16px;
			line-height: 30px;
			letter-spacing: -1px;
		}
	}
}