body {
<<<<<<< HEAD
  .container-header {


  }
=======
	.container-background {
		/* background-image: url(../../../client/images/background-container.png);
		background-position: 100% 100%;
		background-repeat: no-repeat;
		background-size: cover; */
	}
>>>>>>> origin/style
}