body {
	&.homepage {
		.container-background {
			background-image: url(../../../client/images/bg-header-monitor.png);
			background-size: cover;
			background-position: 100% 100%;
			background-repeat: no-repeat;
		}
	}
}