.events {
	padding-top: 107px;
	padding-bottom: 158px;
	background-color: #39a6f1;
	background-image: url(../../../client/images/events/shape-events.png);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	@include breakpoint(small) {
		padding-top: 48px;
		padding-bottom: 65px;
	}
	@include breakpoint(extra-small) {
		padding-top: 72px;
		padding-bottom: 98px;
	}
	@include breakpoint(extra-xs-small) {
		padding-top: 19px;
		padding-bottom: 37px;
	}
	h2 {
		font-size: 36px;
		line-height: 43px;
		@include breakpoint(extra-small) {
			margin-top: 0;
		}
		@include breakpoint(extra-xs-small) {
			font-size: 25px;
			line-height: 30px;
		}
	}
	.description {
		width: 882px;
		margin: 71px auto 0;
		@include breakpoint(small) {
			width: auto;
			margin-top: 40px;
		}
		@include breakpoint(extra-small) {
			width: auto;
			margin: 73px auto 0;
		}
		@include breakpoint(extra-xs-small) {
			width: 100%;
			margin: 37px auto 0;
		}
		figure {
			display: inline-block;
			margin-right: 54px;
			vertical-align: top;
			&:first-child {
				width: 264px;
				@include breakpoint(small) {
					display: block;
					width: 300px;
					margin: auto;
				}
				@include breakpoint(extra-small) {
					width: 500px;
					margin-right: 0;
				}
				@include breakpoint(extra-xs-small) {
					width: 100%;
					margin-right: 0;
				}
			}
			&:nth-child(2) {
				width: 257px;
				@include breakpoint(small) {
					display: block;
					width: 300px;
					margin: 40px auto 0;
				}
				@include breakpoint(extra-small) {
					width: 500px;
					margin-top: 47px;
					margin-right: 0;
				}
				@include breakpoint(extra-xs-small) {
					width: 100%;
					margin-top: 37px;
					margin-right: 0;
				}
			}
			&:last-child {
				width: 245px;
				margin-right: 0;
				@include breakpoint(small) {
					display: block;
					width: 300px;
					margin: 40px auto 0;
				}
				@include breakpoint(extra-small) {
					width: 500px;
					margin-top: 43px;
					margin-right: 0;
				}
				@include breakpoint(extra-xs-small) {
					width: 100%;
					margin-top: 37px;
				}
			}
			figcaption {
				h3 {
					margin-top: 21px;
					margin-bottom: 15px;
					font-family: "Helvetica Light";
					font-size: 26px;
					color: #ffffff;
					@include breakpoint(small) {
						margin-top: 10px;
					}
					@include breakpoint(extra-small) {
						margin-top: 19px;
						margin-bottom: 7px;
						font-size: 36px;
					}
					@include breakpoint(extra-xs-small) {
						margin-top: 13px;
						margin-bottom: 7px;
					}
				}

				p {
					font-family: "Helvetica Regular";
					font-size: 16px;
					line-height: 26px;
					color: #ffffff;
					@include breakpoint(extra-small) {
						font-size: 28px;
						line-height: 33px;
					}
				}
			}
			&:last-child {
				figcaption {
					h3 {
						margin-top: 14px;
					}
				}
			}
		}
	}
}