
	.registration {
		/* #titleContainer {
			display: inline-block;
		    width: 520px;		    
		    padding: 1px 0;
		    border-left: 30px solid #1769a4; 		    
		    line-height: 1.1; 
		    .indent { 
			    position: relative; 
			    left: -15px;
			    .heading {
				    background-color: #1769a4;
				    color: #00a3d0;
				    h2 {
					    display: inline; 
					    margin: 0; 
					    padding: 0;
					    background-color: #1769a4; 
					    font-family: "Helvetica Light";
					    font-size: 44px;
					    color: #fff; 	   						
					}	
				}
			}			
		}  */
		span {
			display: block;
			background-color: #1769a4;
		}

		a {
			height: 38px;
			span {
				width: 48px;
				height: 38px;
				background-color: #0ba4e2;
				img {
					width: 26px;
					height: 21px;
				}
			}
		}
		
	}
