
.registration {
	padding-top: 70px;
	text-align: center;
	@include breakpoint(small) {
		padding-top: 15px;
	}
	@include breakpoint(extra-small) {
		padding-top: 15px;
	}
	@include breakpoint(extra-xs-small) {
		padding-top: 15px;
	}
	.choise {
		margin: 0 0 11px;
		font-family: 'Open Sans', sans-serif;
		font-size: 13px;
		font-weight: 600;
		color:#55a4da;
		@include breakpoint(extra-small) {
			margin: 0 0 17px;
			font-size: 20px;
		}
	}
	.sign-in-up {
		display: none;
		ul {
			border:none;
			li {
				width: 50%;
				height: 100%;
				background-color: #f7f8f8;
				border:1px solid #d4d4d4;
				text-align: center;
				@include box-shadow (0 1px 1px 0 rgba(#000000,0.12), 0 1px 0px 0 rgba(#ffffff,0.35) inset);
				@include breakpoint(small) {
					width: 100%;
					&:last-child {
						margin-top:20px;
					}
				}
				@include breakpoint(extra-small) {
					width: 100%;
					&:last-child {
						margin-top:20px;
					}
				}
				a {
					height: 100%;
					padding: 0;
					background-color: transparent;
					border:none;
					font-family: 'Open Sans', sans-serif;
					font-size: 18px;
					font-weight: 600;
					line-height: 59px;
					color: #6c6c6c;
					@include breakpoint(small) {
						font-size: 20px;
					}
					@include breakpoint(extra-small) {
						font-size: 20px;
					}
				}
			}
			.active {
				background-color: #4da1e0;
				border: 1px solid #287fbe;
				@include box-shadow (0 1px 1px 0 rgba(#000000,0.12), 0 1px 0px 0 rgba(#ffffff,0.35) inset);
				@include background-image(linear-gradient(top, rgba(#000000,0.1) 0%,rgba(#808080,0.1) 100%));
				a {
					color: #ffffff;
					@include text-shadow (0 1px 2px rgba(#000000,0.75));
				}
			}
			.sign-up {
				@include border-radius(3px 0 0 3px);
			}
			.sign-in {
				@include border-radius(0 3px 3px 0);
			}
		}
		form {
			padding-top: 30px;
			@include box-sizing(border-box);
			input {
				width: 100%;
				height: 40px;
				padding-left: 9px;
				background-color: #f7f8f8;
				border:1px solid #d4d4d4;
				outline: none;
				line-height: 40px;
				@include box-shadow (0 1px 1px 0 rgba(#000000,0.12), 0 1px 0px 0 rgba(#ffffff,0.35) inset);
				@include border-radius(3px);
				@include transition-property(all);
				@include transition-duration (400ms);
				&:focus {
					background-color: #98d1fa;
					color: #256ea3;
					@include placeholder {
						color: transparent;
					}
				}
				@include placeholder {
					font-family: 'Open Sans', sans-serif;
					font-weight: 600;
					font-size: 13px;
					color: #061b2a;
				}
			}
			.glyph {
				height: 40px;
				line-height: 40px;
			}
			.glyph-passw {
				right: 15px;
				color: #a0d271;
			}
			.glyph-passw-repeat {
				right: 15px;
				color: #ff5958;
			}
			.button-back {
				float: left;
				width: 50%;
				height: 58px;
				border:1px solid #d4d4d4;
				font-family: 'Open Sans', sans-serif;
				font-weight: 600;
				font-size: 15px;
				color: #696a6a;
				@include border-radius(3px);
				@include text-shadow (0 1px 0px 0 rgba(#ffffff,0.75));
				@include box-shadow (0 1px 1px 0 rgba(#000000,0.12), 0 1px 0px 0 rgba(#ffffff,0.35) inset);
				@include background-image(linear-gradient(top, rgba(#ffffff,0.15) 0%,rgba(#000000,0.15) 100%));
				@include breakpoint(small) {
					float: none;
					font-size: 20px;
				}
				@include breakpoint(extra-small) {
					float: none;
					font-size: 20px;
				}
			}
			.button-sign-up {
				float: right;
				width: 100%;
				height: 58px;
				background-color: #4da1e0;
				border: 1px solid #287fbe;
				font-family: 'Open Sans', sans-serif;
				font-weight: 600;
				font-size: 15px;
				color: #ffffff;
				@include border-radius(3px);
				@include text-shadow (0 1px 2px rgba(#000000,0.45));
				@include box-shadow (0 1px 1px 0 rgba(#000000,0.12), 0 1px 0px 0 rgba(#ffffff,0.35) inset);
				@include background-image(linear-gradient(top, rgba(#000000,0.1) 0%,rgba(#808080,0.1) 100%));
				@include breakpoint(small) {
					font-size: 20px;
				}
				@include breakpoint(extra-small) {
					font-size: 20px;
				}
			}
		}
	}
	.getting {
		margin-top: 19px;
	 	font-family: "Helvetica Light";
		font-size: 44px;
		line-height: 52px;
		text-align: left;
		letter-spacing: -1px;
		color: #ffffff;
		@include breakpoint(small) {
			line-height: 47px;
			text-align: center;
			font-size: 40px;
		}
		@include breakpoint(extra-small) {
			margin-top: 11px;
			line-height: 47px;
			text-align: center;
			font-size: 40px;
		}
		@include breakpoint(extra-xs-small) {
			line-height: 47px;
			text-align: center;
			font-size: 40px;
		}
		 span {
		 	display: inline-block;
		 	padding-right: 10px;
		 	padding-left: 10px;
			background: #1769a4;
		}
	}
	.social {
		@include breakpoint(small) {
			margin-top: 50px;
		}
		@include breakpoint(extra-small) {
			margin-top: 33px;
		}
		.button {
			@include breakpoint(extra-small) {
				height: 61px;
			}
			@include breakpoint(extra-xs-small) {
				height: 70px;
			}
			&:first-child {
				margin: 0px auto 11px;
				@include breakpoint(extra-small) {
					margin: 0px auto 17px;
				}
			}
			&:nth-child(2) {
				margin: 0px auto 11px;
				@include breakpoint(extra-small) {
					margin: 0px auto 17px;
				}
			}
			&:nth-child(3) {
				margin: 0px auto 13px;
				@include breakpoint(extra-small) {
					margin: 0px auto 17px;
				}
			}
			.icon-first {
				background-color: #08a1df;
				border:1px solid #287fbe;
				.icon-tw {
					width: 26px;
					height: 21px;
					margin: 8px auto;
					background-image:url(../../images/social-s0c8da8efb1.png);
					background-repeat: no-repeat;
					@extend.social-twitter;
					@include breakpoint(extra-small) {
						margin: 20px auto;
					}
					@include breakpoint(extra-xs-small) {
						margin: 24px auto;
					}
				}
			}
			.icon-second {
				background-color: #395490;
				border:1px solid #253c6f;
				.icon-fc {
					width: 13px;
					height: 24px;
					margin: 7px auto;
					background-image:url(../../images/social-s0c8da8efb1.png);
					background-repeat: no-repeat;
					@extend.social-fc;
					@include breakpoint(extra-small) {
						margin: 18px auto;
					}
					@include breakpoint(extra-xs-small) {
						margin: 23px auto;
					}
				}
			}
			.icon-third {
				background-color: #d05340;
				border:1px solid #aa1828;
				.icon-google {
					width: 14px;
					height: 26px;
					margin: 6px auto;
					background-image:url(../../images/social-s0c8da8efb1.png);
					background-repeat: no-repeat;
					@extend.social-google;
					@include breakpoint(extra-small) {
						margin: 17px auto;
					}
					@include breakpoint(extra-xs-small) {
						margin: 22px auto;
					}
				}
			}
			.icon-forth {
				background-color: #3d9de2;
				border:1px solid #287fbe;
				.icon-email {
					width: 24px;
					height: 24px;
					margin: 7px auto;
					background-image:url(../../images/social-s0c8da8efb1.png);
					background-repeat: no-repeat;
					@extend.social-at;
					@include breakpoint(extra-small) {
						margin: 18px auto;
					}
					@include breakpoint(extra-xs-small) {
						margin: 23px auto;
					}
				}
			}
		}
	}
	.led {
		width: 100%;
		height: 283px;
		margin-top: 69px;
		@include breakpoint(extra-small) {
			height: 159px;
			margin-top: 32px;
		}
	}
}
