.tweets {
	padding-top: 54px;
	padding-bottom: 62px;
	background-color: #186ba6;
	background-image: url(../../../client/images/tweets/background-tweets.png);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	@include breakpoint(small) {
		padding-top: 56px;
		padding-bottom: 56px;
	}
	@include breakpoint(extra-small) {
		padding-top: 128px;
		padding-bottom: 158px;
	}
	@include breakpoint(extra-xs-small) {
		padding-top: 43px;
		padding-bottom: 47px;
	}
	.twit {
		@include breakpoint(extra-small) {
			width: 72px;
		}
	}
	h2 {
		margin-top: 12px;
		font-size: 24px;
		line-height: 18px;
		@include breakpoint(small) {
			margin-top: 21px;
			margin-bottom: 16px;
			font-size: 36px;
		}
		@include breakpoint(extra-small) {
			margin-top: 32px;
			font-size: 48px;
		}
	}
	figure {
		@include clearfix;
		.image {
			position: relative;
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				content: "";
				@include border-radius (5px);
				@include box-shadow (0 1px 0 0 rgba(#ffffff,0.35) inset);
			}
			img {
				width: 100%;
				@include box-shadow (0 2px 1px 0 #0f456c);
			}
		}
		figcaption {
			position: relative;
		    display: inline-block;
			height: 108px;
			background-color: #ffffff;
			color: #676767;
			@include border-radius(5px);
			@include box-shadow (0 0 0 1px #d4d4d4 inset);
			@include breakpoint(small) {
				height: 178px;
			}
			@include breakpoint(extra-small) {
				height: 279px;
				line-height: 28px;
			}
			@include breakpoint(extra-xs-small) {
				height: 143px;
			}
			&::after {
				position: absolute;
			    width: 0;
			    height: 0;
			    content:' ';
			}
			p {
				margin: 0;
				padding: 12px 13px;
				font-family: 'Open Sans', sans-serif;
				font-size: 13px;
				font-weight: 400;
				line-height: 16px;
				text-align: left;
				@include breakpoint(small) {
					font-size: 20px;
					line-height: 31px;
				}
				@include breakpoint(extra-small) {
					padding: 28px 3px 12px 24px;
					font-size: 26px;
					line-height: 31px;
				}
				@include breakpoint(extra-xs-small) {
					padding: 12px 3px 12px 9px;
				}
			}
		}
	}
	.first-line {
		@include breakpoint(extra-small) {
			margin-top: 46px;
		}
		figure {
			margin-top: 19px;
			@include breakpoint(extra-small) {
				margin-top: 36px;
			}
			.tweets-photo {
				float: left;
			}
			figcaption{
				float: right;
				p {
					@include breakpoint(small) {
						padding: 28px 20px 12px 24px;
					}
				}
			}
			.arrow-left {
			    background-color: #ffffff;
				&::after {
				    top: 24px;
				    left: -9px;
				    border-width: 10px 10px 10px 0;
				    border-style: solid;
				    border-color: transparent #ffffff transparent transparent;
				    @include breakpoint(small) {
						top: 33px;
						left: -19px;
						border-width: 20px 20px 20px 0;
					}
				    @include breakpoint(extra-small) {
						top: 51px;
						left: -19px;
						border-width: 20px 20px 20px 0;
					}
				}
			}
		}
	}
	.second-line {
		figure {
			margin-top: 32px;
			.tweets-photo {
				float: right;
			}
			figcaption{
				float: left;
				p {
					@include breakpoint(small) {
						padding: 28px 24px 12px 20px;
					}
				}
			}
			.arrow-right {
			    background-color: #ffffff;
				&::after {
				    top: 24px;
				    right: -9px;
				    border-width: 10px 0 10px 10px;
				    border-style: solid;
				    border-color: transparent transparent transparent #ffffff;
				    @include breakpoint(small) {
						top: 33px;
						right: -19px;
						border-width: 20px 0 20px 20px;
					}
				}
			}
		}
	}
}